# Python umum
__pycache__/
*.pyc
.ipynb_checkpoints/

# Virtual env & IDE/editor
.venv/
env/
.vscode/
.idea/
.DS_Store
Thumbs.db

# Konfigurasi lokal & rahasia
*.env
.env.*
*.log

# Output sementara/antara (aman untuk tidak dipush)
outputs/cache/
outputs/tmp/

# DATA SENSITIF/MENTAH (contoh)
data/private/**

# Arsip besar mentah yang tidak perlu dipush
data/raw/**/*.zip

# File sementara/editor
*.swp
*.swo
*.bak
*.orig

# Tooling/testing (opsional)
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
